SaleProject/src/conf/xml-resources/web-service-references/MarketPlace/wsdl/localhost_8080/SaleProject_WebService/MarketPlace.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://marketplace.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://marketplace.com/">

<xs:element name="GetAllProduct" type="tns:GetAllProduct"/>

<xs:element name="GetAllProductResponse" type="tns:GetAllProductResponse"/>

<xs:complexType name="GetAllProduct">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="GetAllProductResponse">
<xs:sequence>
<xs:element name="return" type="tns:Product" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Product">
<xs:sequence>
<xs:element name="product_id" type="xs:int"/>
<xs:element name="product_name" type="xs:string" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="product_description" type="xs:string" minOccurs="0"/>
<xs:element name="product_price" type="xs:double"/>
<xs:element name="likes" type="xs:int"/>
<xs:element name="purchase" type="xs:int"/>
<xs:element name="product_datetime" type="xs:int"/>
<xs:element name="imgsrc" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>