SaleProject/web/WEB-INF/wsdl/localhost_8080/SaleProject_WebService/MarketPlace.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://marketplace.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://marketplace.com/" name="MarketPlace">
<types>
<xsd:schema>
<xsd:import namespace="http://marketplace.com/" schemaLocation="http://localhost:8080/SaleProject_WebService/MarketPlace?xsd=1"/>
</xsd:schema>
</types>
<message name="SearchProductWithProductName">
<part name="parameters" element="tns:SearchProductWithProductName"/>
</message>
<message name="SearchProductWithProductNameResponse">
<part name="parameters" element="tns:SearchProductWithProductNameResponse"/>
</message>
<message name="GetAllProduct">
<part name="parameters" element="tns:GetAllProduct"/>
</message>
<message name="GetAllProductResponse">
<part name="parameters" element="tns:GetAllProductResponse"/>
</message>
<message name="SearchProductWithAccount">
<part name="parameters" element="tns:SearchProductWithAccount"/>
</message>
<message name="SearchProductWithAccountResponse">
<part name="parameters" element="tns:SearchProductWithAccountResponse"/>
</message>
<portType name="MarketPlace">
<operation name="SearchProductWithProductName">
<input wsam:Action="http://marketplace.com/MarketPlace/SearchProductWithProductNameRequest" message="tns:SearchProductWithProductName"/>
<output wsam:Action="http://marketplace.com/MarketPlace/SearchProductWithProductNameResponse" message="tns:SearchProductWithProductNameResponse"/>
</operation>
<operation name="GetAllProduct">
<input wsam:Action="http://marketplace.com/MarketPlace/GetAllProductRequest" message="tns:GetAllProduct"/>
<output wsam:Action="http://marketplace.com/MarketPlace/GetAllProductResponse" message="tns:GetAllProductResponse"/>
</operation>
<operation name="SearchProductWithAccount">
<input wsam:Action="http://marketplace.com/MarketPlace/SearchProductWithAccountRequest" message="tns:SearchProductWithAccount"/>
<output wsam:Action="http://marketplace.com/MarketPlace/SearchProductWithAccountResponse" message="tns:SearchProductWithAccountResponse"/>
</operation>
</portType>
<binding name="MarketPlacePortBinding" type="tns:MarketPlace">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="SearchProductWithProductName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetAllProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SearchProductWithAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MarketPlace">
<port name="MarketPlacePort" binding="tns:MarketPlacePortBinding">
<soap:address location="http://localhost:8080/SaleProject_WebService/MarketPlace"/>
</port>
</service>
</definitions>